---
import Layout from "@l/Layout.astro";
import Circuits from "~/components/Circuits.astro";
import Timeline from "~/components/Timeline.astro";

import { Icon } from "astro-icon/components";

const title = "West Shore FTC";
---

<Layout title={title}>
  <main>
    <div class="hero min-h-screen mb-24">
      <div
        class="blur-bottom inline m-0 p-0 w-full h-screen overflow-hidden relative"
      >
        <Circuits />
      </div>
      <div class="hero-content text-center">
        <div class="card backdrop-blur-lg">
          <div class="card-body items-center text-center">
            <h2 class="card-title text-center">{title}</h2>
            <p class="text-2xl my-5">
              West Shore is already a leading school in Florida.
              <br />
              <span
                >So why not give it a <a
                  href="https://www.firstinspires.org/robotics/ftc/what-is-first-tech-challenge"
                  target="_blank"
                  class="link link-primary"
                  ><span class="italic">FIRST</span>® Tech Challenge</a
                > team?
              </span>
            </p>
            <div class="card-actions justify-end">
              <a
                href="https://forms.gle/qSkgbeSawwX8rXrK6"
                target="_blank"
                class="btn btn-lg btn-primary">Show Your Interest</a
              >
            </div>
          </div>
        </div>

        <Icon
          name="fa:arrow-down"
          class="absolute bottom-2 md:bottom-8"
          size={28}
        />
      </div>
    </div>

    <h2>What is FTC?</h2>

    <p class="text-center md:m-auto md:w-1/2">
      FTC is a semi-beginner robotics league, aimed at 7-12th graders. Its a lot
      different from the <span class="italic">FIRST</span>® LEGO Robotics
      League because you have much more building and programming freedom.
      Instead of LEGOs, CAD modelers can make more specialized parts, builders
      can use screws and pretty much anything else to make up the robot, the
      programmers can make more advanced software with more advanced sensors.
      <br />
      Its also an amazing learning experience, especially if you know nearly nothing
      about it before.
    </p>

    <h2>Why should I join it?</h2>

    <p class="text-center md:m-auto md:w-1/2">
      <strong class="text-bold">Because its fun, of course!</strong> There are also
      a bunch of different things you can do in the team other than just programming
      and building. Not only that, but <strong class="text-bold"
        >you don't need any experience!</strong
      > This is a learning thing, and you'll probably learn a lot—I don't expect
      many of you to have experience either, if I'm being honest. It can also help
      you on college applications, or learn something useful for your future career.
    </p>

    <h2>Team Roles</h2>

    <p class="text-center md:m-auto md:w-1/2">
      I want to make a more in-depth breakdown of the different roles. Right now
      I don't really have the time, so take <a
        class="link link-primary"
        href="ftc-possible-roles.pdf"
      >
        a look at this PDF for a bare-bones description of roles.
      </a> This isn't exactly an exhaustive list, and if there's something you'd
      prefer to do that isn't on that list, just say so.
    </p>

    <h2>Team Start Plan</h2>

    <Timeline
      items={[
        {
          title: "Get People Interested",
          description:
            "The core of pretty much anything is interest. If you're even a little interested, you should show it by doing the form above.",
          done: false,
        },
        {
          title: "Get Access to 3D Printers",
          description:
            "FTC is dependent on being able to create custom parts with CNC machines/3D printers.\nMr. Kelly has one, so maybe he's the one to ask.",
        },
        {
          title: "Get Grants from Local Companies",
          description:
            "This is one of the more difficult things to do. I hope the companies are generous.",
        },
        {
          title: "Get Initial Supplies",
          description:
            "This consists of an FTC starter pack that has all the materials for a team. With money, this isn't a very difficult step.",
        },
        {
          title: "Starting the Club/Initial Meet",
          description:
            "In the inital meet, I'll probably explain everything that's said here. However, in my opinion, its still a long ways away.",
        },
      ]}
    />

    <style lang="scss">
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply font-bold text-center mb-8 mt-10;
      }
      h1 {
        @apply text-5xl;
      }
      h2 {
        @apply text-4xl;
      }
      h3 {
        @apply text-3xl;
      }
      .text-outline {
        text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
      }
      html {
        @apply text-lg md:text-xl;
      }
      body {
        @apply px-4;
      }

      .blur-bottom {
        box-shadow: 0 0 5px 10px theme("colors.base-200");
        -webkit-mask: linear-gradient(white, transparent);
        mask: linear-gradient(white, white 70%, transparent 95%);
      }
    </style>
  </main>
</Layout>
