---
import Layout from "@l/Layout.astro";
import Circuits from "~/components/Circuits.astro";
import Timeline from "~/components/Timeline.astro";

import { Icon } from "astro-icon/components";

const title = "West Shore FTC";
---

<Layout title={title}>
  <main>
    <div class="hero min-h-screen mb-24">
      <div
        class="blur-bottom inline m-0 p-0 w-full h-screen overflow-hidden relative"
      >
        <Circuits />
      </div>
      <div class="hero-content text-center">
        <div class="card glass w-xl">
          <figure><img src="" /></figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title text-center">{title}</h2>
            <p class="text-xl my-5">
              West Shore is already a leading school in Florida.
              <br />
              <span
                >So why not give it an <a
                  href="</a>"
                  class="link link-secondary"
                  ><span class="italic">FIRST</span>® Tech Challenge</a
                > team?
              </span>
            </p>
            <div class="card-actions justify-end">
              <button class="btn btn-lg btn-primary">See Our Plan</button>
            </div>
          </div>
        </div>

        <Icon
          name="fa:arrow-down"
          class="absolute bottom-2 md:bottom-8"
          size={28}
        />
      </div>
    </div>

    <h2>Timeline</h2>

    <Timeline
      items={[
        {
          title: "Make a Schedule",
          description:
            "The current schedule is planned to be Tuesdays and Thursdays all of Power Hour plus Wednesday after school for an hour. However, this can change, as with everything here.",
          done: true,
        },
        {
          title: "Get Access to 3D Printers",
          description:
            "FTC is dependent on being able to create custom parts with CNC machines/3D printers.\nMr. Kelly has one, so maybe he's the one to ask.",
        },
        {
          title: "Get Grants from Local Companies",
          description:
            "This is one of the more difficult things to do. I hope the companies are generous.",
        },
        {
          title: "Get Initial Supplies",
          description:
            "This consists of an FTC starter pack that has all the materials for a team. With money, this isn't a very difficult step.",
        },
        {
          title: "Starting the Club/Initial Meet",
          description:
            "In the inital meet, I'll probably explain everything that's said here. However, in my opinion, its still a long ways away.",
        },
      ]}
    />

    <h2>Team Roles</h2>

    <h3>Builder</h3>

    <p class="mx-24">
      This is the most thought of role when someone thinks of FTC (other than
      maybe programming).
    </p>

    <style lang="scss">
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply font-bold text-center my-8;
      }
      h1 {
        @apply text-5xl;
      }
      h2 {
        @apply text-4xl;
      }
      h3 {
        @apply text-3xl;
      }
      .text-outline {
        text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
      }
      html {
        @apply text-lg;
      }

      .blur-bottom {
        box-shadow: 0 0 5px 10px theme("colors.base-200");
        -webkit-mask: linear-gradient(white, transparent);
        mask: linear-gradient(white, white 70%, transparent 95%);
      }
    </style>
  </main>
</Layout>
