---
import { Icon } from "astro-icon/components";

interface Props {
  items: { title: string; description: string; done?: boolean }[];
}

const { items } = Astro.props;
---

<ul
  class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
>
  {
    items.map(({ title, description, done }, i, arr) => (
      <li>
        {i === 0 ? <></> : <hr class={done ? "bg-primary" : ""} />}
        <div class="timeline-middle">
          <Icon
            name="fa:check-circle"
            class:list={["h-5", "w-5", done ? "text-primary" : ""]}
          />
        </div>
        <div class="timeline-end max-w-md mb-10 ml-4 md:text-start">
          <div class="text-lg font-black">{title}</div>
          {description}
        </div>
        {arr[i + 1] ? <hr class={arr[i + 1]!.done ? "bg-primary" : ""} /> : <></>}
      </li>
    ))
  }
</ul>
